<div class="row">
  <div class="col-xs-12">
    <div>
      <div class="inventory-grid">
        <div class="inventory">
          <div class="inventory-details movie-card">
            <img [src]="movies.image" alt="" />
            <p><span>Movie Name: </span> {{ movies.title }}</p>
            <p><span>Movie Rating: </span> {{ movies.rating }}</p>
            <p><span>Movie length: </span> {{ movies.timeline }}</p>
            <p><span>Movie Year: </span> {{ movies.year }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
