h3 {
  margin-top: 0;
  text-align: center;
  font-size: 24px;
}

img {
  margin-bottom: 1rem;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row {
  padding: 2rem 0;
}

.inventory-grid {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
}

.movie-card {
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inventory-details {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.inventory-details p {
  margin-bottom: 0.5rem;
}

.inventory-details p span {
  font-weight: bold;
}


@media (max-width: 768px) {
  .inventory-grid {
    padding: 0 1rem;
  }

  .inventory {
    padding: 1.5rem;
    font-size: 1rem;
  }

  .inventory-details {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .inventory {
    padding: 1rem;
    font-size: 0.875rem;
  }
}
